@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

:root {
  --color-bg: #1E1F29;
  --color-darkgrey: #363450;
  --color-primary: #FB6087; 
  --color-white: #eee;
}

body {
  background: var(--color-bg);
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
}

.game {
  --spacing: 0.5rem;
  --cell-size: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative;

  background: var(--color-white);
  gap: var(--spacing);
  padding: var(--spacing);
}

.cell {
  width: var(--cell-size);
  aspect-ratio: 1/1;
  background: var(--color-darkgrey);
}

.number {
  --color:hsl(calc(343 + var(--number)), 95%, 68%);

  width: var(--cell-size);
  aspect-ratio: 1/1;

  position: absolute;
  top: calc((var(--cell-size) + var(--spacing)) * var(--row));
  left: calc((var(--cell-size) + var(--spacing)) * var(--column));
  
  transition: all ease-in-out 400ms;

  margin: var(--spacing);
  background: var(--color);

  display: grid;
  place-items: center;

  font-size: 2.5rem;
}
